name: CI

on:
  push:
    branches: [ github-actions, docker_compose ]
  pull_request:
    branches: [ github-actions, docker_compose ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run smoke tests
        run: |
          pytest tests_smoke

  docker-build-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: tests          # сборка образа только если тесты прошли

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/feelpainagain/catty-reminders-app:latest
            ghcr.io/feelpainagain/catty-reminders-app:${{ github.sha }}
