name: CD

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to VM via SSH (run Docker container)
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: course.prafdin.ru
          port: ${{ secrets.SSH_PORT }}
          username: Ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          debug: true
          script: |
            set -e

            echo "Logging into GitHub Container Registry from VM..."
            echo "${GITHUB_TOKEN}" | docker login ghcr.io -u "feelpainagain" --password-stdin

            echo "Pulling latest image..."
            docker pull ghcr.io/feelpainagain/catty-reminders-app:latest

            echo "Stopping old container if exists..."
            docker rm -f catty-reminders-app || true

            echo "Starting new container..."
            docker run -d \
              --name catty-reminders-app \
              -p 8181:8181 \
              ghcr.io/feelpainagain/catty-reminders-app:latest

            echo "Waiting for app to start..."
            sleep 5

            echo "Checking app health..."
            curl -s http://127.0.0.1:8181/docs > /dev/null

            echo "Deployment via Docker container finished successfully."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
